@model List<MedicalService>

<div class="cards-container">
    <div class="text">
        <h2 class="main-title">Our MedicalService</h2>
    </div>
    <div class="container">
        <div class="searchitem">
           
            <input type="search" class="search" />
            <div class="drop-button">Catigorys
                <div class="arrow">v</div>
            </div>
            <div class="catigorys">
                @foreach (Catigory catigory in ViewBag.BranchCatigorys)
                {
                    <div class="catigory">
                        <label for="@(catigory?.ID??0)">@(catigory?.Name??"")</label>
                        <input type="checkbox" id="@(catigory?.ID??0)">
                    </div>
                    
                }

            </div>

        </div>

        <div class="boxes">
        @foreach (MedicalService medicalService in Model)
        {  
            <div class="box">
                <div class="image">
                    <img src="~/@medicalService.Image" alt="" />
                </div>
                <div class="text" style="padding:15px;">
                    <h3 style="font-size:20px;">@(medicalService?.Name??"")</h3>
                    <p>@(medicalService?.Price??0)</p>
                    <div class="links">
                    <a asp-controller="MedicalService" asp-action="GetById"  asp-route-id="@(medicalService?.ID??0)">More Details</a>
                    </div>
                </div>
                <input type="hidden" class="Branch-Id" value="@(medicalService?.BranchID??0)" />
            </div>
            
        }
        </div>
    </div>
</div>
<div class="container-holder" style="background-color:#f5fbff;">

    <div class="container">

        <div class="pagination-items">
            @if (ViewBag.Pagination.CurrentPage > 1)
            {
                <div class="pag-item">
                    <a asp-action="SeeMedicalServcie"
                       asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage-1)" asp-route-id="@ViewBag.BranchId">Privous</a>
                </div>
            }

            @for (int i = 1; i <= ViewBag.Pagination.TotalPages; i++)
            {
                if (i == ViewBag.Pagination.CurrentPage)
                {
                    <div class="pag-item active">
                        <a asp-action="SeeMedicalServcie"
                           asp-route-CurrentPage="@i" asp-route-id="@ViewBag.BranchId">@i</a>
                    </div>
                }
                else
                {
                    <div class="pag-item">
                        <a asp-action="SeeMedicalServcie"
                           asp-route-CurrentPage="@i" asp-route-id="@ViewBag.BranchId">@i</a>
                    </div>
                }
            }
            @if (ViewBag.Pagination.CurrentPage < ViewBag.Pagination.TotalPages)
            {
                <div class="pag-item">
                    <a asp-action="SeeMedicalServcie"
                       asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage+1)" asp-route-id="@ViewBag.BranchId">Next</a>
                </div>
            }
        </div>

    </div>

</div>



