@model List<MedicalService>

<div class="cards-container">
    <div class="text">
        <h2 class="main-title">Our MedicalService</h2>
    </div>
    <div class="container">
        <div class="searchitem">
           
            <input type="search" class="search" />
            <div class="drop-button">Catigorys
                <div class="arrow">v</div>
            </div>
            <div class="catigorys">
                @foreach (Catigory catigory in ViewBag.BranchCatigorys)
                {
                    <div class="catigory">
                        <label for="@catigory.ID">@catigory.Name</label>
                        <input type="checkbox" id="@catigory.ID">
                    </div>
                    
                }

            </div>

        </div>

        <div class="boxes">
        @foreach (MedicalService medicalService in Model)
        {  
            <div class="box">
                <div class="image">
                    <img src="~/@medicalService.Image" alt="" />
                </div>
                <div class="text" style="padding:15px;">
                    <h3 style="font-size:20px;">@medicalService.Name</h3>
                    <p>@medicalService.Price</p>
                    <div class="links">
                    <a asp-controller="MedicalService" asp-action="GetById"  asp-route-id="@medicalService.ID">More Details</a>
                    </div>
                </div>
                <input type="hidden" class="Branch-Id" value="@medicalService.BranchID" />
            </div>
            
        }
        </div>
    </div>
</div>




