    <!-- start  Landing-->
@model WelcomePageAllNeeds
<!-- start  Landing-->

<div class="landing">
    <div class="controls">
        <div class="left"><</div>
        <div class="right">></div>
    </div>
    <div class="container">
        <div class="text">
            <h1>Health Care</h1>
            <p>The best health care in the world</p>
            <p>
                Welcome to our Medical Services Management System a smart and efficient platform designed to simplify healthcare operations. Easily browse services, book appointments, and manage transactions, all in a secure and user-friendly environmen
            </p>
            <div class="Shape"><a href="#branches">Check Our Services</a></div>
        </div>
    </div>
</div>
<!-- End  Landing-->
<!-- Start Calling -->
<div class="calling">
    <div class="container">
        <div class="box">
            <i class="fa-sharp fa-solid fa-house-chimney-medical"></i>
            <h2>Hospitally</h2>
            <p>More than one branch</p>
            <div class="Shape"><a href="#branches">book an appoinment</a></div>
        </div>
        <div class="box active">
            <i class="fa-sharp fa-solid fa-house-chimney-medical"></i>
            <h2>Medical</h2>
            <p>More than one branch</p>
            <div class="Shape"><a href="#branches">book an appoinment</a></div>
        </div>
        <div class="box">
            <i class="fa-sharp fa-solid fa-house-chimney-medical"></i>
            <h2>Many Doctors</h2>
            <p>More than one branch</p>
            <div class="Shape"><a href="#branches">book an appoinment</a></div>
        </div>
    </div>
</div>
<!-- End Calling -->
<!-- Start Docmed -->
<div class="docmed">
    <div class="container">
        <div class="imgs">
            <img src="/Images/1.png" alt="" />
            <img src="/Images/2.png" alt="" />
        </div>
        <div class="text">
            <p>Welcome to Docmed</p>
            <h2>Best Care For Your Good Health</h2>
            <p>
                We provide top-tier medical services with a focus on patient comfort,
                advanced treatments, and affordable care.
            </p>
            <p class="active">Your Health, Our Priority – Quality Care When You Need It Most.</p>
            <p class="active">Compassionate Medical Services for a Healthier Tomorrow.</p>
            <p class="active">Expert Healthcare, Personalized for You.</p>
            <div class="Shape"><a href="#branches">See Branches</a></div>
        </div>
    </div>
</div>
<!-- End Docmed -->
<!-- start Branches -->
<div class="branch">
    <div class="text">
        <h2 class="main-title">Our Branches</h2>
        <p>
            From routine check-ups to specialized treatments, our team is dedicated to your well-being
        </p>
    </div>
    <div class="container">
        <div class="boxes" id="branches">
        @foreach(Branch branch in Model.branches)
        {
            <div class="box">
                <div class="image">
                    <img src="@branch.Image" alt="" />
                </div>
                <div class="text">
                    <h3>@(branch?.Name??"Not Found")</h3>
                    <p>@(branch?.Location??"Not Found")</p>
                    <a asp-controller="Welcome" asp-action="SeeMedicalServcie" asp-route-id="@(branch?.ID??0)">See MedicalServices</a>
                </div>
            </div>
        }
        </div>
    </div>
</div>
<!-- End Branches -->
<!-- start info -->
<div class="info">
    <div class="container" id="info">
        <p>
            Welcome to our Medical Services Management System a smart and efficient platform designed to simplify healthcare operations. Easily browse services, book appointments, and manage transactions, all in a secure and user-friendly environmen
        </p>
    </div>
</div>
<div class="container">
    <div class="select">
        <div class="active">See</div>
        <div>Our</div>
        <div>Goal</div>
    </div>
</div>
<!-- End info -->
<div class="business">
    <div class="container">
        <div class="text">
            <i class="fa-sharp fa-solid fa-house-chimney-medical"></i>
            <p>Leading edge care for Your family</p>
            <p>
                Our commitment goes beyond treating illnesses—we strive to transform lives by fostering wellness, preventing disease, and empowering communities through accessible, world-class healthcare that leaves no one behind
            </p>
        </div>
        <img src="/Images/business.png" alt="" />
    </div>
</div>
<!-- start Doctors -->
<div class="doctor">
    <div class="container">
        <div class="items">
            <h2>Expert Doctors</h2>
            <div class="clicks">
                <div class="left">&lt;</div>
                <div class="right">&gt;</div>
            </div>
        </div>
        <div class="boxes">
            @foreach(Doctor doctor in Model.doctors)
            {
                <div class="box">
                    <img src="/Images/doctor.png" alt="" />
                    <div class="text">
                        <h3>@(doctor?.User?.UserName??"")</h3>
                        <p>@(doctor?.Branch?.Name??"")</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Doctors -->
<!-- start emergency -->
<div class="emergency" id="contact">
    <div class="box">
        <div class="text">
            <h3>For Any Emergency Contact</h3>
            <p>Esteem spirit temper too say adieus.</p>
        </div>
        <div class="Shape"><a href="#">+01064802668</a></div>
    </div>
    <div class="box">
        <div class="text">
            <h3>For Any Emergency Contact</h3>
            <p>Esteem spirit temper too say adieus.</p>
        </div>
        <div class="Shape"><a href="#">+01064802668</a></div>
    </div>
</div>
<!-- End emergency -->

