@model AssignDatesForBranchVm
@{
    Layout = "Admin/_AdminLayout";
}

<h2 class="name">AssignDatesForBranch</h2>
<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>ID</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Date date in Model.Dates)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@date.AppoinmentDate</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@date.ID</p>
                    </td>
                    <td class="role">
                        <p class="text">
                            <input  class="date-check-box" type="checkbox"  value="@date.ID" />
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Location</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Branch branch in Model.Branches)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@branch.Name</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@branch.Location</p>
                    </td>
                    <td class="role">
                        <p class="text">
                            <input class="branch-check-box" type="checkbox" value="@branch.ID" />
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>






<div class="new">
    <a class="input-new add">Add</a>
</div>

@section Scripts{
    <script src="~/js/jsadmin/assigndatebranch.js"></script>
    <partial name="_ValidationScriptsPartial"></partial>
}


