@model MedicalService
<div class="detail">
    <div class="text">
        <h2 class="main-title">Details About @Model.Name</h2>
    </div>
    <div class="container">
        <div class="box">
            <div class="image">
                <img src="/Images/@Model.Image" alt="" />
            </div>
            <div class="text">
                <h3>@Model.Branch.Location</h3>
                <p>
                   @Model.Description
                </p>
                <a asp-controller="Welcome" asp-action="StoreGusetCookie" asp-route-MedicalId="@Model.ID" 
                   asp-route-BranchId="@Model.Branch.ID">Reserve Now</a>
            </div>
        </div>
    </div>
</div>