@model MedicalServiceVm
@{
    Layout = "Admin/_AdminLayout";
    List<MedicalService> medicalServices = ViewBag.Collection.MedicalServices;
    List<Catigory> catigories = ViewBag.Collection.Catigorys;
    List<Branch> branches = ViewBag.Collection.branches;
    SelectList selectListItems02 = new SelectList(branches, "ID", "Name");
    SelectList selectListItems01 = new SelectList(catigories, "ID", "Name");
    
}
<h2>MedicalService</h2>
<div class="new">
    <div class="input-new">
        <a>New</a>
    </div>
    <div class="sort">
        <select id="sortDropdown" onchange="location = this.value;">
            <option value="@Url.Action("Insert", new { Sort = "" })">Sort</option>
            <option value="@Url.Action("Insert", new { Sort = "Name" })">Sort By Name (Asc)</option>
            <option value="@Url.Action("Insert", new { Sort = "NameDes" })">Sort By Name (Desc)</option>
            <option value="@Url.Action("Insert", new { Sort = "IdDes" })">Recently viewed</option>
        </select>
    </div>
</div>




<form  asp-action="Insert" class="new-catigory-form" enctype="multipart/form-data">
    <div class="container">
        <div class="text">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="text">
            <label asp-for="Price"></label>
            <input asp-for="Price" type="number" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="text">
            <label asp-for="Image"></label>
            <input type="file" asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="text">
            <label asp-for="BranchId">Branch</label>
            <select asp-for="BranchId" asp-items="selectListItems02" class="form-control">
                <option value="0">-- Select Branch --</option>
            </select>
            <span asp-validation-for="BranchId" class="text-danger"></span>
        </div>
        <div class="text">
            <label asp-for="CatId">Category</label>
            <select asp-for="CatId" asp-items="selectListItems01" class="form-control">
                <option value="0">-- Select Category --</option>
            </select>
            <span asp-validation-for="CatId" class="text-danger"></span>
        </div>
        <div class="text-area">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="submit">
            <input type="submit" />
            <div asp-validation-summary="All" style="color:red;"></div>
        </div>
    </div>
</form>




<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Branch</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>

            @foreach (MedicalService service in medicalServices)
            {
                <tr>
                        <td class="title">
                        <div class="text">
                            <h5>@service.Name</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@service.Price</p>
                    </td>
                    <td class="role">
                        <p class="text">@(service?.Branch?.Name ?? "Not Found")</p>
                    </td>
                    <td class="person">
                        <img src="~/@service.Image" alt="Not Found" />
                    </td>
                    <td class="control">
                        <p class="text"><a class="edit" id="@service.ID" current-sort="@ViewBag.Sort" current-page="@(ViewBag.Pagination.CurrentPage)">Edit</a></p>

                    </td>
                    <td class="control">
                        <p class="text"><a class="delete" asp-action="Delete" asp-controller="MedicalService" asp-route-id="@service.ID"><i class="fa-solid fa-trash"></i></a></p>
                    </td>
                    <td class="control">
                        <p class="text">
                            <a class="detail" asp-action="GetByIdAdmin" asp-controller="MedicalService" asp-route-id="@service.ID">Details</a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section FlyForm {
    <div class="fly-form"></div>
}

<div class="pagination-items">
    @if (ViewBag.Pagination.CurrentPage > 1)
    {
        <div class="pag-item">
            <a asp-action="Insert"
               asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage-1)" asp-route-Sort="@ViewBag.Sort">Privous</a>
        </div>
    }

    @for (int i = 1; i <= ViewBag.Pagination.TotalPages; i++)
    {
        if (i == ViewBag.Pagination.CurrentPage)
        {
            <div class="pag-item active">
                <a asp-action="Insert"
                   asp-route-CurrentPage="@i" asp-route-Sort="@ViewBag.Sort">@i</a>
            </div>
        }
        else
        {
            <div class="pag-item">
                <a asp-action="Insert"
                   asp-route-CurrentPage="@i" asp-route-Sort="@ViewBag.Sort">@i</a>
            </div>
        }
    }
    @if (ViewBag.Pagination.CurrentPage < ViewBag.Pagination.TotalPages)
    {
        <div class="pag-item">
            <a asp-action="Insert"
               asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage+1)" asp-route-Sort="@ViewBag.Sort">Next</a>
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <input type="hidden" id="branchId" branch-id="@ViewBag.Admin.BranchID"  />
    }
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="/js/jsadmin/savesortstate.js"></script>
    <script src="/js/jsadmin/searchadmin.js"></script>
}








