@model List<MedicalService>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Branch</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>

        @foreach (MedicalService service in Model)
        {
            <tr>
                <td class="title">
                    <div class="text">
                        <h5>@service.Name</h5>
                    </div>
                </td>
                <td class="role">
                    <p class="text">@service.Price</p>
                </td>
                <td class="role">
                    <p class="text">@(service?.Branch?.Name ?? "Not Found")</p>
                </td>
                <td class="person">
                    <img src="/Images/@service.Image" alt="Not Found" />
                </td>
                <td class="control">
                    <p class="text"><a class="edit" id="@service.ID">Edit</a></p>
                </td>
                <td class="control">
                    <p class="text"><a class="delete" asp-action="Delete" asp-controller="MedicalService" asp-route-id="@service.ID"><i class="fa-solid fa-trash"></i></a></p>
                </td>
                <td class="control">
                    <p class="text">
                        <a class="detail" asp-action="GetByIdAdmin" asp-controller="MedicalService" asp-route-id="@service.ID">Details</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>