@model List<IWorker>
@{
    Layout = "Admin/_AdminLayout";
}
<h2 class="Name">Employee</h2>
<div class="board">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Branch</td>
                <td>Image</td>
            </tr>
        </thead>
        <tbody>

            @foreach (IWorker worker in Model)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@(worker?.User?.UserName ?? "Not Found")</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@(worker?.Branch?.Name ?? "Not Found")</p>
                    </td>
                    <td class="person">
                        <img src="/@worker.User.Image" alt="Not Found" />
                    </td>
                    <td class="control">
                        <p class="text">
                            <a class="delete"
                               asp-action="DeleteDoctor"
                               asp-controller="Workers"
                               asp-route-id="@worker.UserID"
                               asp-route-RetuenToWorkers="true">
                                <i class="fa-solid fa-trash"></i>
                           </a>
                        </p>
                    </td>
                    <td class="control">
                        @if (worker is Assastant)
                        {
                            <p class="text">
                                <a class="detail" asp-action="AssastantDetails" asp-controller="Workers" asp-route-id="@worker.ID">Details</a>
                            </p>
                        }
                        @if (worker is Doctor)
                        {
                            <p class="text">
                                <a class="detail" asp-action="DoctorDetails" asp-controller="Workers" asp-route-id="@worker.ID">Details</a>
                            </p>
                        }
                        @if (worker is Admin)
                        {
                            <p class="text">
                                <a class="detail" asp-action="AdminDetails" asp-controller="Workers" asp-route-id="@worker.ID">Details</a>
                            </p>
                        }
                        @if (worker is Accountant)
                        {
                            <p class="text">
                                <a class="detail" asp-action="AccountantDetails" asp-controller="Workers" asp-route-id="@worker.ID">Details</a>
                            </p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination-items">
    @if (ViewBag.Pagination.CurrentPage > 1)
    {
        <div class="pag-item">
            <a a asp-action="GetAllWorkers" asp-controller="Workers"
               asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage-1)">Privous</a>
        </div>
    }

    @for (int i = 1; i <= ViewBag.Pagination.TotalPages; i++)
    {
        if (i == ViewBag.Pagination.CurrentPage)
        {
            <div class="pag-item active">
                <a asp-action="GetAllWorkers" asp-controller="Workers"
                   asp-route-CurrentPage="@i">@i</a>
            </div>
        }
        else
        {
            <div class="pag-item">
                <a asp-action="GetAllWorkers" asp-controller="Workers"
                   asp-route-CurrentPage="@i">@i</a>
            </div>
        }
    }
    @if (ViewBag.Pagination.CurrentPage < ViewBag.Pagination.TotalPages)
    {
        <div class="pag-item">
            <a a asp-action="GetAllWorkers" asp-controller="Workers"
               asp-route-CurrentPage="@(ViewBag.Pagination.CurrentPage+1)">Next</a>
        </div>
    }
</div>


