@model List<BranchGusetService>
@{
    Layout = "Admin/_AdminLayout";
}

<div class="board">
    <table>
        <thead>
            <tr>
                <td>User</td>
                <td>Service</td>
                <td>Branch</td>
                <td>Date</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>

            @foreach (BranchGusetService bgs in Model)
            {
                <tr>
                    <td class="title">
                        <div class="text">
                            <h5>@(bgs?.Guset?.User?.UserName ?? "Not Found")</h5>
                        </div>
                    </td>
                    <td class="role">
                        <p class="text">@(bgs?.MedicalService?.Name ?? "Not Found")</p>
                    </td>
                    <td class="role">
                        <p class="text">@(bgs?.Branch.Name ?? "Not Found")</p>
                    </td>
                    <td class="role">
                        <p class="text">@(bgs?.DateBranch?.Date?.AppoinmentDate)</p>
                    </td>
                    <td class="role">
                        <p class="text" id="service-price">@(bgs?.MedicalService?.Price ?? 0)</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



