@model List<Branch>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Location</td>
            <td>ContactPhone</td>
        </tr>
    </thead>
    <tbody>

        @foreach (Branch branch in Model)
        {
            <tr>
                <td class="title">
                    <div class="text">
                        <h5>@branch.Name</h5>
                    </div>
                </td>
                <td class="role">
                    <p class="text">@branch.Location</p>
                </td>
                <td class="role">
                    <p class="text">@branch.ContactPhone</p>
                </td>
                <td class="control">
                    <p class="text"><a class="edit" id="@branch.ID" >Edit</a></p>
                </td>
                <td class="control">
                    <p class="text"><a class="delete" asp-action="Delete" asp-controller="Branch" asp-route-id="@branch.ID"><i class="fa-solid fa-trash"></i></a></p>
                </td>
                <td class="control">
                    <p class="text">
                        <a class="detail" asp-action="GetByIdAdmin" asp-controller="Branch" asp-route-id="@branch.ID">Details</a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>